<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="3e450d07-45b9-4217-9a9f-be6e9ead6434" name="Sample REST Test Suite 2 2">
  <con:settings>
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-Test-Suite</con:setting>
    <con:setting id="f04d4b2a-18f1-4575-b869-eca71939dcf2fileName">Sample-REST-Test-Suite-2</con:setting>
    <con:setting id="3e450d07-45b9-4217-9a9f-be6e9ead6434fileName">Sample-REST-Test-Suite-2-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
