<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="17608e97-3b99-4649-bafa-e3dad6c7564d" name="Sample REST Test Suite 3">
  <con:settings>
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-Test-Suite</con:setting>
    <con:setting id="f04d4b2a-18f1-4575-b869-eca71939dcf2fileName">Sample-REST-Test-Suite-2</con:setting>
    <con:setting id="17608e97-3b99-4649-bafa-e3dad6c7564dfileName">Sample-REST-Test-Suite-3</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
